*/.classpath
*/.project
*/.settings
logs/
dev/
bin/
dist/
target/
out/
bin-groovy/
.svn/
.metadata/
.idea/
*.class
*.bak
*.log
*.ipr
*.iws
*.iml
*.ids
*.classpath
*.project
*.war
/him-auth/libs
Thumbs.db
.idea
.project
